<table>
    
    <thead>
    <tr>
        <th style="width:10px;"><strong>Nip</strong> </th>
        <th style="width:32px;"><strong>Nama</strong></th>
        <th style="width:25px;"><strong>Tempat Lahir</strong></th>
        <th style="width:14px;"><strong>Tanggal Lahir</strong></th>
        <th style="width:55px;"><strong>Alamat</strong></th>
        <th style="width:15px;"><strong>Jenis Kelamin</strong></th>
        <th style="width:10px;"><strong>Agama</strong></th>
        <th style="width:18px;"><strong>Status Pekawinan</strong></th>
        <th style="width:15px;"><strong>Golongan Darah</strong></th>
        <th style="width:19px;"><strong>Pendidikan Terakhir</strong></th>
        <th style="width:21px;"><strong>Nomor KTP</strong></th>
        <th style="width:21px;"><strong>Nomor KK</strong></th>
        <th style="width:21px;"><strong>Nomor NPWP</strong></th>
        <th style="width:22px;"><strong>Nomor BPJS Kesehatan</strong></th>
        <th style="width:30px;"><strong>Nomor BPJS Ketenagakerjaan</strong></th>
        <th style="width:25px;"><strong>Jabatan</strong></th>
        <th style="width:17px;"><strong>Nomor HP</strong></th>
        <th style="width:33px;"><strong>Email</strong></th>
    </tr>
    </thead>
    <tbody>
            <tr>
            <td>00000000</td>
            <td>Bakda Samosir</td>
            <td>Mojokerto</td>
            <td>08/06/1989</td>
            <td>Ki. Ters. Buah Batu No. 524, Tual 10744, KalBar</td>
            <td>Perempuan</td>
            <td>Kristen</td>
            <td>Sudah Kawin</td>
            <td>B</td>
            <td>SMP</td>
            <td>33491160</td>
            <td>321917181</td>
            <td>4639929</td>
            <td>4</td>
            <td>27621</td>

                        <tr>
                <th scope="row"> 1 </th>
                <td>Training</td>
                <td>14 Februari 2017</td>
                <td>9 November 1974</td>
            </tr>
            
            <td>Product Development</td>
            <td>CEO</td>
            <td>+6916820439483</td>
            <td>among.riyanti@gmail.com</td>
        </tr>
            <tr>
            <td>00000001</td>
            <td>Steven</td>
            <td>Semarang</td>
            <td>12/11/2004</td>
            <td>tiatidj</td>
            <td>Perempuan</td>
            <td>Lainnya</td>
            <td>Sudah Kawin</td>
            <td>AB</td>
            <td>SMA/K</td>
            <td>3316298176382</td>
            <td>33741206073212</td>
            <td>002001342</td>
            <td>0012300123</td>
            <td></td>

                        <tr>
                <th scope="row"> 1 </th>
                <td>Training</td>
                <td>30 Juli 2020</td>
                <td>-</td>
            </tr>
            
            <td>Design Lab</td>
            <td>CTO</td>
            <td>081293489329</td>
            <td>kenes77@suwarno.org</td>
        </tr>
        </tbody>
</table>